# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
node_modules
client/node_modules
server/node_modules

# production
/build

# testing
/coverage

# env files
.env
.env.*

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# package manager
.pnp
.pnp.js